/* CSS Entry Point */


// body {
// 	background: #f5f5f1;
// 	margin: auto;
// }

// header {
// 	background: white;
// }

// div {
// 	#logo-and-search {
// 		display: inline;
// 	}

// 	.main {
// 		width: 800px;
// 	}
// 	.sidebar-products-container {
// 		width: 300px;
// 		float: left;
// 	}
// 	.js {
// 		width: 500px;
// 		float: right;
// 	}
// }



// ul {
// 	list-style: none;
// 	a {
// 		text-decoration: none;
// 	}
// 	.header-categories {
// 		display: inline;
// 	}
// }



// li {
// 	.header-categories {
// 		display: inline-block;
// 	}
// 	.header-cart {
// 		display: inline-block;
// 	}
// }


// .sidebar-products-container {
// 	width: 900px;
// }



// footer {
// 	clear: both;
// }





































.header-cart {
	display: inline-block;
	float: right;
	padding: 5px;
}

.header-category {
	display: inline-block;
}




