/* CSS Entry Point */



* {
	border: 1px solid red;
}

ul {
	padding: 0;
}

li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.header-cart {
	display: inline-block;
	float: right;
	padding: 5px;
}

ul.header-categories {
	text-align: center;
	li {
		display: inline-block;
	}
}




